/* Scroll bar styling  */
::-webkit-scrollbar{
    width: 1px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        transparent,
        var(--light-blue),
        transparent
    );
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        transparent,
        var(--light-blue),
        transparent
    );
}

/* Scroll animation  */

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden-project{
    opacity: 0;
    filter: blur(5px);
    transition: all 1s;
}

.show-project{
    opacity: 1;
    filter: blur(0);
}