@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


:root{
    --primary : #121930;
    --secondary: #1e2a3a;
    --tertiary: #60759c;
    --active: #e7c711;
    --text: #cccccc;
    --light-blue: #4fb3f6;
    --light-pink: #FFB6C1;
    --light-brown: #d2b48c;
    --white: #ffff;
    --border-colour: #1e2a3a;
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden; /* Hiding horizontal scroll bar */
}

main{
    display: flex;
}

/* Sidebar styling start  */
.sidebar{
    background-color: var(--secondary);
    color: var(--active);
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2vh;
    font-family: 'Fira Sans', sans-serif;
    width: 5vw;
    height: 100vh;
    position: fixed;
}

.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.sidebar ul li a{
    text-decoration: none;
    color: var(--tertiary);
    font-size: 1em;
}

.sidebar ul li a:hover{
    color: var(--active);
    font-size: 0.7em;
    text-shadow: 0 0 5px var(--active);
}

.active{
    color: var(--light-brown) !important;
    text-shadow: 0 2px 5px var(--light-brown);
}

/* Sidebar styling end  */

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

/* Home section styling start  */
#main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

#info{
    width: 80vw;
    height: 60vh;
    margin-top: 12vh;
    display: flex;
    justify-content: space-between;
}

.info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 2vw;
    padding-left: 5vw;
    margin-left: 1.5vw;
    font-family: 'Source Code Pro', monospace;
    color: var(--text);
}

.intro{
    font-size: 6.5vh;
}

.name{
    font-size: 5.5vh;
    margin-top: 0.9vh;
    margin-bottom: 0.9vh;
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.3vh;
    font-weight: 800;
    color: var(--active);
}

.quality{
    font-size: 2vh;
    font-family: 'Source Code Pro', monospace;
    color: var(--light-blue);
    margin: 1vh 0vw 1vh 0vw;
}

.more-about{
    margin-top: 1vh;
    font-size: 1.4vh;
    font-family: 'Fira Sans', sans-serif;
}

.cv{
    margin-top: 2vh;
    padding: 1vh;
    width: 10vw;
    border: 0.2em solid var(--active);
    color: var(--active);
    background-color: transparent;
}

.cv:hover{
    background-color: var(--active);
    color: var(--tertiary);
    cursor: pointer;
}

.pic{
    margin-right: 3vw;
}
.pic img{
    height: 60vh;
}
/* Main section styling end  */

/* About section styling start  */
#about{
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2vw;
}

#about .content{
    height: 70%;
    width: 60%;
    margin-top: 1vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 12vh;
    flex-direction: column;
}

#about .content div{
    width: 100%;
    margin-left: 0.5vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
    font-size: 2vh;
    line-height: 3.5vh;
    color: var(--text);
}

#about .content div h1{
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.3vh;
    line-height: 4vh;
    color: var(--light-brown);
}

#about .content div ul {
    list-style: none; /* Remove default bullets */
}
  
#about .content div ul li::before {
    content: "\2022";  
    color: var(--light-blue); 
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}

#about .content div ul li div{
    margin-top: 0px;
    font-size: 1.5vh;
}

.sideImage{
    width: 20%;
    height: 35%;
    background: url("/img/img.png") no-repeat;
    background-size: contain;
    
}
/* About section styling end  */

/* Skills section styling start  */

#skills{
    height: 95vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 6vh;
    justify-content: center;
    align-items: center;
}

#skills h1{
    font-family: 'Fira Sans', sans-serif;
    letter-spacing: 0.3vh;
    font-weight:800;
    line-height: 4vh;
    margin-top: 2vh;
    color: var(--light-brown);
}

.grid{
    height: 60%;
    width: 80%;
    gap: 2vh;
    display: grid;
    grid-template-columns: repeat(6,auto);
    grid-template-rows: repeat(2,auto);
}

.grid > .box{
    border: 2px solid var(--border-colour);
}

/* Setting images in grid  */
#c{
    background: url("/img/skills/c.png") no-repeat center;
    background-size: 90%;
}

#cpp{
    background: url("/img/skills/cpp.png") no-repeat center;
    background-size: 90%;
}

#python{
    background: url("/img/skills/python.png") no-repeat center;
    background-size: 90%;
}

#sql{
    background: url("/img/skills/sql.png") no-repeat center;
    background-size: 90%;
}

#git{
    background: url("/img/skills/git.png") no-repeat center;
    background-size: 90%;
}

#github{
    background: url("/img/skills/github.png") no-repeat center;
    background-size: 90%;
}

#php{
    background: url("/img/skills/php.png") no-repeat center;
    background-size: 90%;
}

#html{
    background: url("/img/skills/html.png") no-repeat center;
    background-size: 90%;
}

#css{
    background: url("/img/skills/css.png") no-repeat center;
    background-size: 90%;
}

#js{
    background: url("/img/skills/js.png") no-repeat center;
    background-size: 90%;
}

#bootstrap{
    background: url("/img/skills/bootstrap.png") no-repeat center;
    background-size: 90%;
}

#figma{
    background: url("/img/skills/figma.png") no-repeat center;
    background-size: 90%;
}
/* Setting images in grid end  */

/* Skills section styling end  */

/* Projects section styling start  */
#projects{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects > .articles-section{
    /* background-color: red; */
    height: 95%;
    width: 80%;
    position: relative;
    border: 1px solid var(--border-colour);
}

.articles-section > article {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    position: absolute;
    transition: transform 400ms ease;
}

.articles-section > article[data-status="inactive"]{
    transform: scale(0);
}

.articles-section > article[data-status="after"]{
    transform: translateX(50%) scale(0);
}

.articles-section > article[data-status="before"]{
    transform: translateX(-50%) scale(0);
}

.articles-section > article[data-status="becoming-active-from-before"]{
    transform: translateX(-50%) scale(0);
    transition: none;
}

.articles-section > article[data-status="becoming-active-from-after"]{
    transform: translateX(50%) scale(0);
    transition: none;
}

.articles-section > article[data-status="active"]{
    transition-delay: 300ms;
}

.article-desc, .article-nav{
    border-left: 1px solid var(--border-colour);
}

.article-title, .article-nav{
    border-top: 1px solid var(--border-colour);
} 

.article-img{
    display: flex;
    align-items: center;
    justify-content:center;
}

.article-nav{
    display: flex;
}

.article-btn{
    height: 100%;
    width: 50%;
    background-color: transparent;
    box-sizing: border-box;
    border: none;
    font-size: 2.5em;
    color: var(--text);
    cursor: pointer;
}

.article-right{
    border-left: 1px solid var(--border-colour);
}

#project-0-video{
    max-width: 100%;
}

/* Projects section styling end  */

/* Contact section styling start  */
#contact{
    height: 100vh;
    width: 100vw;
}
/* Contact section styling end  */

/* Scroll bar */
::-webkit-scrollbar{
    width: 1px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        transparent,
        var(--light-blue),
        transparent
    );
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        transparent,
        var(--light-blue),
        transparent
    );
}
/* Scroll bar end */