@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


:root{
    --primary : #121930;
    --secondary: #1e2a3a;
    --tertiary: #60759c;
    --active: #e7c711;
    --text: #cccccc;
    --light-blue: #4fb3f6;
    --light-pink: #FFB6C1;
    --light-brown: #d2b48c;
    --white: #ffff;
    
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden; /* Hiding horizontal scroll bar */
}

main{
    display: flex;
}

/* Sidebar styling start  */
.sidebar{
    background-color: var(--secondary);
    color: var(--active);
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2vh;
    font-family: 'Fira Sans', sans-serif;
    width: 5vw;
    height: 100vh;
    position: fixed;
}

.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.sidebar ul li a{
    text-decoration: none;
    color: var(--tertiary);
    font-size: 1em;
}

.sidebar ul li a:hover{
    color: var(--active);
    font-size: 0.7em;
}

.active{
    color: var(--light-brown) !important;
}

/* Sidebar styling end  */

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
}

/* Home section styling start  */
#main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

#info{
    width: 80vw;
    height: 60vh;
    margin-top: 12vh;
    display: flex;
    justify-content: space-between;
}

.info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 2vw;
    padding-left: 5vw;
    margin-left: 1.5vw;
    font-family: 'Source Code Pro', monospace;
    color: var(--text);
}

.intro{
    font-size: 6.5vh;
}

.name{
    font-size: 5.5vh;
    margin-top: 0.9vh;
    margin-bottom: 0.9vh;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    color: var(--active);
}

.quality{
    font-size: 2vh;
    font-family: 'Source Code Pro', monospace;
    color: var(--light-blue);
    margin: 1vh 0vw 1vh 0vw;
}

.more-about{
    margin-top: 1vh;
    font-size: 1.4vh;
    font-family: 'Fira Sans', sans-serif;
}

.cv{
    margin-top: 2vh;
    padding: 1vh;
    width: 10vw;
    border: 0.2em solid var(--active);
    color: var(--active);
    background-color: transparent;
}

.cv:hover{
    background-color: var(--active);
    color: var(--tertiary);
    cursor: pointer;
}

.pic{
    margin-right: 3vw;
}
.pic img{
    height: 60vh;
}
/* Main section styling end  */

/* About section styling start  */
#about{
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
/* About section styling end  */

/* Skills section styling start  */
#skills{
    height: 100vh;
    width: 100vw;
}
/* Skills section styling end  */

/* Projects section styling start  */
#projects{
    height: 100vh;
    width: 100vw;
}
/* Projects section styling end  */

/* Contact section styling start  */
#contact{
    height: 100vh;
    width: 100vw;
}
/* Contact section styling end  */

/* Scroll bar */
::-webkit-scrollbar{
    width: 1px;
}

::-webkit-scrollbar-track {
    background: var(--primary);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(
        transparent,
        var(--light-blue),
        transparent
    );
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
        transparent,
        var(--light-blue),
        transparent
    );
}
/* Scroll bar end */