@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');


:root{
    --background : rgb(11,44,67);
    --gray: rgb(24,24,24);
    --nav-element: rgb(75,75,76);
    --active: rgb(252,215,51);
}

*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
}

/* Sidebar styling start  */
.sidebar{
    background-color: var(--gray);
    color: var(--active);
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 2vh;
    font-family: 'Fira Sans', sans-serif;
    width: 5vw;
    height: 100vh;
    position: fixed;
}

.sidebar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.sidebar ul li a{
    text-decoration: none;
    color: var(--nav-element);
    font-size: 1em;
}

.sidebar ul li a:hover{
    color: var(--active);
    font-size: 0.7em;
}

/* Sidebar styling end  */

.container{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
}

/* Home section styling start  */
#main{
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
}

#info{
    width: 80vw;
    height: 60vh;
    margin-top: 12vh;
    display: flex;
    justify-content: space-between;
}

.info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 2vw;
    padding-left: 5vw;
    margin-left: 1.5vw;
    font-family: 'Source Code Pro', monospace;
}

.intro{
    font-size: 6vh;
}

.name{
    font-size: 5vh;
    margin-top: 0.9vh;
    margin-bottom: 0.9vh;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
}

.quality{
    font-size: 2vh;
    font-family: 'Source Code Pro', monospace;
}

.more-about{
    margin-top: 1vh;
    font-size: 2vh;
    font-family: 'Fira Sans', sans-serif;
}

.cv{
    margin-top: 2vh;
    padding: 1vh;
    width: 10vw;
    border: 0.2em solid var(--active);
    color: var(--active);
    background-color: transparent;
}

.cv:hover{
    background-color: var(--active);
    color: var(--gray);
    cursor: pointer;
}

.pic{
    margin-right: 3vw;
}
.pic img{
    height: 60vh;
}
/* Main section styling end  */

/* About section styling start  */
#about{
    height: 100vh;
    width: 100vw;
    background-color: transparent;
}
/* About section styling end  */

/* Skills section styling start  */
#skills{
    height: 100vh;
    width: 100vw;
}
/* Skills section styling end  */

/* Projects section styling start  */
#projects{
    height: 100vh;
    width: 100vw;
}
/* Projects section styling end  */

/* Contact section styling start  */
#contact{
    height: 100vh;
    width: 100vw;
}
/* Contact section styling end  */

