:root{
    --background-color: #222222;
    --secondary-background: #111111;
    --accent: #009688;
    --highlight: #FFA500;
    --text: #CCCCCC;
    --white: #FFFFFF;
    --heading: #00BFA5;
    --sub-heading: #FFC400;
    --input-text: #333333;
}

